<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="sweet">
         <property
               name="appName"
               value="sweet">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://es.alba.sweet/es.alba.sweet.E4LifeCycle">
         </property>
      </product>
   </extension>

</plugin>
